<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem id="menu_course_root" name="Course" sequence="110">
        <menuitem id="menu_course_operations" name="Course Operations" sequence="10" />
        <menuitem id="menu_course_group_operations" name="Course Group Operations" sequence="10" />
    </menuitem>

</odoo>
